[submodule "static/slides/rstudioconf22-oddly-satisfying"]
	path = static/slides/rstudioconf22-oddly-satisfying
	url = https://github.com/eroten/rstudioconf22-oddly-satisfying.git
[submodule "static/cv"]
	path = static/cv
	url = https://github.com/eroten/cv.git
[submodule "static/slides/positconf23"]
	path = static/slides/positconf23
	url = https://github.com/eroten/positconf23.git
